* {
  text-align: center;
}

.main {
  background: linear-gradient(#F0F3BD, white);
}

.header {
  background-color: #028090;
  margin: 0px;
  padding-top: 20px;
  font-size: 45px;
}

.timebox, .timeInput {
  display: inline-block;
  padding: 15px 30px;
}

.timebox {

  .paperWrap {

    height: 100px;
    width: 100px;
    text-align: center;

    .counter {
      font-size: 3em;
      padding: 5px;
      margin: 0px;
    }
    .timeType {
      padding: 0px;
      margin: 0px;
    }
  }
}


.timeInput {

  h4: {
    font-family: Arial;
    margin: 10px 5px;
  }
}