.timebox {

  display: inline-block;
  padding: 30px;

  .paperWrap {

    height: 100px;
    width: 100px;
    text-align: center;

    .counter {
      font-size: 3em;
      padding: 5px;
      margin: 0px;
    }
    .timeType {
      padding: 0px;
      margin: 0px;
    }
  }
}


.timeInput {
  display: inline-block;
  padding: 30px;

  h4: {
    font: Arial;
    margin: 10px 5px;
  }

  .selectWrap {
    width: 100px;
  }
}